/* -- Google Fonts CSS commands --
font-family: 'Acme', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Nunito', sans-serif; */

/*-------------------- Header --*/
.heading {
    padding: 5px 20px 5px 30px;
}

.gxbc-logo {
    max-height: 125px;
    max-width: 125px;
    margin-left: 10px;
    margin-right:10px;
    padding-left: 5px 20px;
    padding-right: 5px 20px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.title-header {
    font-family: 'Nunito', sans-serif;   
    font-weight: 100;
    font-size: 70px;
    color: #a5e6f5;
    background-color: #030233;
    text-shadow: 3px 2px #ad850d;
    align-content: center;
}

.menubar-color {
     background-color: #030233;
     padding: 0px;
     margin: 0px;
     font-size: 20px;
     font-family: 'Acme', sans-serif;
}

.menuitem {
    height: 75px;
    width: 150px;
    text-align: center;
    padding: 0px;
    margin: 1px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#ad850d;
    text-shadow: 0px 1px #a5e6f5;
    height: 75px;
    margin: 0px;
    padding: 0px;
}

.menuitem a i {
    padding-top: 5px;
    display: block inline;
    color: #ad850d;
    font-size: 18px;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin:0;
}

.menucontainer {
    padding:0;
    margin: 0;
    border: 0px;
}
.list-inline {
    padding-left: 175px;
    list-style: none;
} /*moves the menubar location*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.col {
    border:0px;
}
/*----------------------index.html---*/
body {
    background-color: #030233;
}
.carousel {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.carousel-inner {
    max-height: 20%;
}

.carousel-item {
    height:30rem;
    width:70rem;
    margin-left: 70px;
    background-color: #030233;
}

.carousel-item > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
}

.club-summary {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color:#030233;
    background-color:#a5e6f5;
    padding: 10px;
    padding-left: 15px;
    margin: 10px 10px;
}

.club-summary h2 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #946b03;
}

.club-summary h3 {
    font-size: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: 1px;
}

.club-summary h3 i {
    margin:15px;
    font-size: 30px;
    color: #946b03;
}

#googleMap {
    padding-top: 0;
    margin-top: 0;
}

/*-----------------------------------Footer --*/
footer {
    background-color:#030233;
    color:#ad850d;
}

.footer {
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
}

h4 {
    font-size: 20px;
    text-align: center;
    margin: 5px 5px;
    font-weight: bolder;
}

h6 {
    font-size: 15px;
    font-weight:bold
}

.footer-sponsor {
    text-align: left;
    display: inline-block;
    padding-left: 35px;
    padding-right:35px;
    column-count: 1;
}

.footer-affiliation {
    text-align: left;
    display: inline-block;
    column-count: 1;
}

.footer-contact {
    text-align: center;
    display: inline-block;
    padding-left: 35px;
    padding-right:35px; 
    column-count: 2;
}

.footer-contact-two {
    text-align: center;
    padding-top: 35px;
    padding-left: 35px;
    padding-right:35px; 
    column-count: 1;
}


.footer-sponsor img {
    max-height: 50px;
    max-width: 50px;
    display: inline;
}

.footer-affiliation img{
    max-height: 50px;
    max-width: 50px;
    display: inline;
}

.footer-contact p {
    max-height: 150px;
    width: 250px;
    text-align: center;
    font-size: 15px;
}
#footer-container {
    padding-left: 75px;
    width:100%;
}
#footer-columns p {
    font-size: 15px;
}

h6 i {
    margin: 5px;
}

/*----------- news.html----*/
.container-key h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color: #946b03;
    background-color: #a5e6f5;
    font-size: 20px;
    text-align: center;
}
    
.container-key h2 i {
    margin: 5px;
    padding-left: 3px;
}

.container {
    padding:0;
    margin: 0;
    border: 0;
}

.container-news {
    font-family: 'Nunito', sans-serif;
    border-style:solid;
    border-color: #030233;
    border-width: 20px 30px 20px 30px;
    max-width: 100%;
    max-height: 20%;
    color: #946b03; 
    background-color: #a5e6f5;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*----------- members.html----*/
#myClubhouse {
    font-family: 'Nunito', sans-serif;
    height: 550px;
    width: 250px;
    right: 0px;
    float: right;
    position: absolute;
    font-size: 20px;
    padding-left:5px;
    background-color:#030233;
    color:#a5e6f5;
}

#myClubhouse h3{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 30px;
}

#myClubhouse .btn{
    color:#a5e6f5;
    border-color: #ad850d;
    font-size:xx-large;
    margin-left: 10px;
    margin-top: 30px;
}

#myClubhouse img {
    height: 150px;
    width: 150px;
    margin: 60px 45px;
    
}

#new_member {
    font-family: 'Nunito', sans-serif;
    height: 500px;
    width: 1100px;
    left: 1px;
    display:block;
    font-size: 15px;
    padding:2px;
    background-color:#a5e6f5;
    color:#946b03;
    border: 30px;
}

#new_member h2 {
display: block;
font-weight: bolder;
margin: 8px 8px;
}
#new_member h3{
    margin: 20px 15px 5px 15px;
}

#new_member p {
    width:900px;
    margin: 3px 10px;
}

.prices{
    left: 80px;
    margin: 30px 10px;
}

.extras {
    left: 140px;
    margin: 5px 10px;
}

#new_member .row{
    display: inline-block;
}
#coaching {
    font-family: 'Nunito', sans-serif;
    height: 450px;
    width: 100%;
    display: block;
    background-color: #030233;
    color: #a5e6f5;
}

.coach-summary {
    width: 950px;
    margin: 10px 5px;
}

#coaching img {
    width:125px;
    height: 125px;
    margin: 10px 40px;

}

#coaching div {
    display: inline;
    margin: 0px 40px;
}


.coach-set {
    position: relative;
    margin:0px;
}

.coach-set-two {
    position: relative;
    margin: 0px;
}

.text-overlay {
  position:relative;  
  height: 45px;
  width: 45px;
}

.coach-name {
  display:inline-flex;
  position: absolute;
  margin:0;
  font-family: inherit;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;


  transition: opacity .2s, visibility .2s;
}

.text-overlay:hover .coach-name {
  margin: 0px;
  visibility: visible;
  opacity: 1;
}

.card-tile {
    font-family: 'Nunito', sans-serif;
}

.card-text {
    font-family: 'Nunito', sans-serif;
}

.btn {
    font-family: 'Nunito', sans-serif;
    border-color: #ad850d;
}



