/* -- Google Fonts CSS commands --
font-family: 'Acme', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Nunito', sans-serif; */

/*-------------------- Header --*/
.heading {
    padding: 5px 20px 5px 30px;
}

.gxbc-logo {
    max-height: 100px;
    max-width: 100px;
    margin-left: 20px;
    margin-right:20px;
    padding-left: 5px 20px;
    padding-right: 5px 20px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.title-header {
    font-family: 'Nunito', sans-serif;   
    font-weight: 100;
    font-size: 70px;
    color: #a5e6f5;
    background-color: #030233;
    text-shadow: 3px 2px #ad850d;
    align-content: center;
}

.menubar-color {
     background-color: #030233;
     padding: 0px;
     margin: 0px;
     font-size: 20px;
     font-family: 'Acme', sans-serif;
}

.menuitem {
    height: 75px;
    width: 150px;
    text-align: center;
    padding: 0px;
    margin: 1px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#ad850d;
    text-shadow: 0px 1px #a5e6f5;
    height: 75px;
    margin: 0px;
    padding: 0px;
}

.menuitem a i {
    padding-top: 5px;
    display: block inline;
    color: #ad850d;
    font-size: 18px;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin:0;
}

.menucontainer {
    padding:0;
    margin: 0;
    border: 0px;
}
.list-inline {
    padding-left: 175px;
    list-style: none;
} /*moves the menubar location*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.col {
    border:0px;
}
/*----------------------Main Body---*/

.carousel {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.carousel-inner {
    max-height: 20%;
}

.carousel-item {
    height:30rem;
}

.carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
}

.club-summary {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    color:#030233;
    background-color:#a5e6f5;
    padding: 10px;
    padding-left: 15px;
    margin: 0;
}

.club-summary h2 {
    font-size: 35px;
    letter-spacing: 2px;
    color: #946b03;
}

.club-summary h3 {
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: 2px;
}

.club-summary h3 i {
    margin:15px;
    font-size: 30px;
    color: #946b03;
}

#googleMap {
    padding-top: 0;
    margin-top: 0;
}

/*-----------------------------------Footer --*/
footer {
    background-color:#030233;
    color:#ad850d;
}

.footer {
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
}

h4 {
    font-size: 20px;
    text-align: center;
    margin: 5px 15px;
    font-weight: bolder;
}

h6 {
    font-size: 15px;
    font-weight:bold
}

.footer-sponsor {
    text-align: left;
    display: inline-block;
    padding-left: 35px;
    padding-right:35px;
    column-count: 1;
}

.footer-affiliation {
    text-align: left;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    column-count: 1;
}

.footer-contact {
    text-align: center;
    display: inline-block;
    padding-left: 35px;
    padding-right:35px; 
    column-count: 2;
}

.footer-contact-two {
    text-align: center;
    padding-top: 35px;
    padding-left: 35px;
    padding-right:35px; 
    column-count: 1;
}


.footer-sponsor img {
    max-height: 50px;
    max-width: 50px;
}

.footer-affiliation img{
    max-height: 50px;
    max-width: 50px;
    margin: 5px 5px;
}

.footer-contact p {
    max-height: 150px;
    max-width: 250px;
    text-align: center;
    font-size: 15px;
}
#footer-container {
    padding-left: 75px;
}
#footer-columns p {
    font-size: 15px;
}

h6 i {
    margin: 5px;
}

/*----------- Container*/
.container h2 {
    font-family: 'Alegreya', serif;
    color: #946b03;
    background-color: #a5e6f5;
    font-size: 30px;
}