/*-------------------- Header --*/
.heading {
    padding: 5px 20px 5px 20px;
    margin:0px 20px;
}

.inline {
    margin:0px 0px 1px 0px;
}

.gxbc-logo {
    max-height: 125px;
    max-width: 125px;
    margin-left: 10px;
    margin-right:10px;
    padding-left: 5px 20px;
    padding-right: 5px 20px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.title-header {
    font-family: 'Nunito', sans-serif;   
    font-weight: 100;
    font-size: 70px;
    color: #a5e6f5;
    background-color: #030233;
    text-shadow: 3px 2px #ad850d;
    align-content: center;
    padding: 0px;
    margin: 0px 40px 0px 70px;
}


.menubar-color {
     background-color: #030233;
     padding: 0px;
     margin: 0px;
     font-size: 20px;
     font-family: 'Acme', sans-serif;
}

.menuitem {
    height: 65px;
    width: 100px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#ad850d;
    text-shadow: 0px 1px #a5e6f5;
    height: 75px;
    margin: 0px;
    padding: 0px;
}

.menuitem a i {
    padding-top: 5px;
    display: block inline;
    color: #ad850d;
    font-size: 18px;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin:0;
}

.row .no-gutters {
 margin:0px;
 padding: 0px;
}

.menucontainer {
    padding:0;
    margin: 0;
    border: 0px;
}
.list-inline {
    padding-left: 275px;
    margin: 0px;
    list-style: none;
} /*moves the menubar location*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.col {
    border:0px;
}
/*----------------------index.html---*/
body {
    background-color: #030233;
}
.carousel {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.carousel-inner {
    max-height: 20%;
}

.carousel-item {
    height:35rem;
    widows: 80%;;
    background-color: #030233;
}

.carousel-item > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
}

.club-summary {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color:#030233;
    background-color:#a5e6f5;
    padding-left: 15px;
    margin: 0px 20px;
}

.club-summary h2 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #946b03;
}

.club-summary h3 {
    font-size: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: 1px;
}

.club-summary h3 i {
    margin:15px;
    font-size: 30px;
    color: #946b03;
}

#googleMap {
    padding-top: 0;
    margin-top: 0;
}

/*-----------------------------------Footer --*/
footer {
    background-color:#030233;
    color:#ad850d;
}

.footer {
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
}

h4 {
    font-size: 20px;
    text-align: left;
    margin: 10px 5px 5px 5px;
    font-weight: bolder;
}

h6 {
    font-size: 15px;
    font-weight:bold
}

.footer-sponsor {
    text-align: left;
    display: inline;
    margin-left: 40px;
    margin-right: 35px;
    column-count: 1;
}

.footer-sponsor a {
    color:#ad850d;
}

.footer-affiliation {
    text-align: left;
    display: inline;
    margin: 0px 35px;
    column-count: 1;
}

.footer-affiliation a {
    color: #ad850d;
}

.footer-contact {
    text-align: left;
    display: inline-flex;
    padding-left: 35px;
    padding-right:35px; 
    margin: 0px 20px;
    column-count: 1;
}

.footer-contact h4 {
    text-align: center;
}

.footer-contact-two {
    text-align: center;
    padding-top: 35px;
    padding-left: 35px;
    padding-right:35px; 
    column-count: 1;
}


.footer-sponsor img {
    height: 35px;
    width: 60px;
    margin: 3px 5px;
    display: inline;
}

.footer-affiliation img{
    height: 45px;
    width: 45px;
    margin: 3px 5px;
    display: inline;
}

.footer-contact p {
    max-height: 150px;
    width: 250px;
    text-align: center;
    font-size: 15px;
}
#footer-container {
    padding-left: 75px;
    width:100%;
}
#footer-columns p {
    font-size: 15px;
}

h6 i {
    margin: 5px;
}

/*----------- news.html----*/
.container-key h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color: #030233;
    background-color: #a5e6f5;
    font-size: 20px;
    text-align: center;
}
    
.container-key h2 i {
    margin: 5px;
    padding-left: 3px;
    color: #ad850d;
    font-weight: bold;
}

.container {
    padding:0;
    margin: 0;
    border: 0;
}

.container-news {
    font-family: 'Nunito', sans-serif;
    border-style:solid;
    border-color: #946b03;
    margin: 20px 30px 20px 30px;
    max-width: 100%;
    max-height: 20%;
    color: #030233; 
    background-color: #a5e6f5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-news i{
margin: 5px 10px 5px 10px;
font-weight: bold;
color: #946b03;
}

.container-news h2{
margin: 10px;
font-weight: bolder;
text-decoration: underline;
}

.container-news h3{
margin: 10px;
padding-left: 30px;
color: #946b03;
max-width: 80%;
}
.container-news p{
font-size: 20px;
margin: 10px;
padding-left: 30px;
max-width: 70%;
display: inline-block;
}
.container-news img{
display: inline-flex;
position: relative;
max-width: 20%;
max-height: 200px;
vertical-align: top;
border-radius: 50%;
}

.bucks {
    margin-left: 30px;
}

/*----------- members.html----*/
#myClubhouse {
    font-family: 'Nunito', sans-serif;
    height: 500px;
    width: 250px;
    right:15px;
    float: right;
    position: absolute;
    font-size: 20px;
    background-color:#030233;
    color:#ad850d;
    border-color: #ad850d;
    border-style: solid;
}

#myClubhouse h3{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 30px;
    color: #a5e6f5;
}

#myClubhouse .btn{
    color:#030233;
    background-color: #a5e6f5;
    border-color: #ad850d;
    font-size:xx-large;
    margin-top: 30px;
}

#myClubhouse img {
    height: 200px;
    width: 200px;
    margin: 50px 20px;
    
}

#new_member {
    font-family: 'Nunito', sans-serif;
    height: 500px;
    width: 1050px;
    left: 20px;
    display:block;
    font-size: 18px;
    padding:2px;
    margin-left: 15px;
    background-color:#a5e6f5;
    color:#030233;
}

#new_member h2 {
display: block;
font-weight: bolder;
margin: 5px 8px;
}
#new_member h3{
    margin: 5px 30px 5px 15px;
    color: #946b03;
}

#new_member p {
    width:900px;
    margin: 3px 10px;
}

.prices{
    left: 80px;
    margin: 10px 10px;
}

.extras {
    left: 180px;
    margin: 10px 10px;
}

#new_member .row{
    display: inline-block;
}
#coaching {
    font-family: 'Nunito', sans-serif;
    height: 450px;
    width: 100%;
    margin-left: 15px;;
    display: block;
    background-color: #030233;
    color: #a5e6f5;
}

#coaching h2 {
    margin: 20px 5px 5px 5px;
}

.coach-summary {
    width: 950px;
    margin: 20px 5px;
    left: 40px;
}

#coaching img {
    width:125px;
    height: 125px;
    margin: 10px 40px;

}

#coaching div {
    display: inline;
    margin: 5px 40px;
}


.coach-set {
    position: relative;
    margin:0px;
}

.coach-set-two {
    position: relative;
    margin: 0px;
}

.text-overlay {
  position:relative;  
  height: 45px;
  width: 45px;
}

.coach-name {
  display:inline-flex;
  position: absolute;
  margin:0;
  font-family: inherit;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bolder;
  visibility: hidden;
  opacity: 0;


  transition: opacity .2s, visibility .2s;
}

.text-overlay:hover .coach-name {
  margin: 0px;
  visibility: visible;
  opacity: 1;
}

.card-tile {
    font-family: 'Nunito', sans-serif;
}

.card-body {
    display:flex;
    flex-direction: column;
}

.card-text {
    font-family: 'Nunito', sans-serif;
    
}

.btn {
    font-family: 'Nunito', sans-serif;
    vertical-align:baseline ;
    margin-top: auto;
}


.btn-primary:not(:disabled):not(.disabled).active {
    color: #94f5e7;
    background-color: #030233;
    border-color: #ad850d;
}

.btn-info:not(:disabled):not(.disabled).active {
     color: #94f5e7;
    background-color: #030233;
    border-color: #ad850d;
}

.bg-primary .text-white {
    color: #030233;
    background-color: #a5e6f5;
}
.card-img-top {
    width:auto;
    height: 180px;
}

/*-------- Media Queries---------*/

@media (max-width: 1366px) {

    .title-header {
        font-size: 60px;
        margin: 0px 60px;
    }

    .list-inline {
        padding-left: 200px;
    }

    h4 {
        font-size: 20px;
    }

    #footer-container {
        padding: 0px;
    }

    .footer-sponsor {
        margin: 0px 40px;
        width: 210px;

    }

    .footer-sponsor a {
        font-size: 15px;
    }

    .footer-sponsor img {
        height: 25px;
        width: 50px;
    }

    .footer-affiliation {
        margin: 0px 40px;
        width: 270px;
    }

    .footer-affiliation a{
        font-size: 15px;
    }

    .footer-affiliation img {
        height: 30px;
        width: 30px;
    }

    .footer-contact {
        margin: 0px 30px;
        padding:0px;
        text-align: center;
    }

    .footer-contact-two {
        margin: 0px 40px;
        padding: 0px;
        padding-top: 35px;
        text-align: center;
    }

    /*--- news ---*/

    .bucks {
    margin-left: 30px;
    }

    /*--- members ---*/
    #myClubhouse h3 {
        margin-left: 10px;
    }
    #myClubhouse p {
        margin-left: 10px;
    }
    
    .card-img-top {
    width:auto;
    height: 180px;
}
}

@media (max-width: 1024px) {
    /*--- index, header and footer ---*/
    .gxbc-logo {
        height: 40px;
        width: 40px;
        padding: 0px;
    }

    .title-header {
        font-size: 63px;
        margin: 0px 30px;
    }

    .list-inline {
        padding-left: 70px;
    }

    .carousel-item {
        height: 32rem;
        width: 100%;
    }

    .carousel-item img {
        max-height: 550px;
    }

    .carousel-inner {
        height: 20%;
    }

    .club-summary h2 {
        font-size: 30px;
    }

    .club-summary h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    #footer-container {
        padding: 0px;
    }

    .footer {
        padding:0px;
    }

    .footer-sponsor {
        margin: 0px 5px;
        width: 210px;

    }

    .footer-sponsor a {
        font-size: 15px;
    }

    .footer-sponsor img {
        height: 25px;
        width: 50px;
    }

    .footer-affiliation {
        margin: 0px 5px;
        width: 270px;
    }

    .footer-affiliation a{
        font-size: 15px;
    }

    .footer-affiliation img {
        height: 30px;
        width: 30px;
    }

    .footer-contact {
        margin: 0px;
        padding:0px;
        text-align: center;
    }

    .footer-contact-two {
        margin: 0px 5px;
        padding: 0px;
        padding-top: 35px;
        text-align: center;
    }

    /*--- news ---*/
    .bucks {
    margin-left: 0px;
    }


    /*--- members ---*/
    #myClubhouse {
        margin:0px;
        padding:0px;
        text-align: center;
        height: 600px;
    
    }
    #myClubhouse p {       
        margin-bottom: 40px;
        padding: 0px;
    }

    #myClubhouse img {
        margin-top: 120px;
        margin-left: 20px;
        height:200px;
        width: 210px;
    }

    #new_member {
        width: 750px;
        height: 600px;
        padding: 10px 10px;
        margin: 10px 0px;
    }

    #new_member h3 {
        margin-top: 15px;
    }

    #new_member p {
        width: 700px;
    }

    .prices {
        margin:25px 0px;
        padding:0px;
        left: 0px;
    }

    .extras {
        margin:15px 30px;
        padding:0px;
        left: 40px;
    }

    .row {
        margin: 0px;
        padding: 0px;
    }

    #coaching h2 {
        margin-left: 25px;
    }

    .coach-summary {
    width :735px;
    margin-left: 25px;

    }

    #coaching img {
        width:100px;
        height: 100px;
        margin: 15px 25px;
        padding: 0px;
    }

    .card-img-top {
    width:auto;
    height: 180px;
}

}


@media (max-width: 812px) {
    /*--- index, header and footer---*/
    .gxbc-logo {
        height: 40px;
        width: 40px;
        padding: 0px;
        margin: 5px;
    }

    .title-header {
        font-size: 50px;
        margin: 0px 10px;
    }

    .club-summary{
        margin: 0px;
    }

    .list-inline {
        padding-left: 70px;
    }

    .carousel-item {
        height: 25rem;
        width: 100%;
    }

    .carousel-item img {
        max-width: 100%;
        max-height: 400px;
    }

    .carousel-inner {
        height: 10%;
    }

    .club-summary h2 {
        font-size: 25px;
    }

    .club-summary h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    #footer-container {
        padding: 0px;
    }

    .footer-sponsor {
        margin: 0px 30px;
        padding-left: 35px;
        width: 210px;
    }

    .footer-sponsor a {
        font-size: 15px;
    }

    .footer-sponsor img {
        height: 25px;
        width: 50px;
    }

    .footer-affiliation {
        margin: 0px 10px;
        width: 270px;
    }

    .footer-affiliation a{
        font-size: 15px;
    }

    .footer-affiliation img {
        height: 30px;
        width: 30px;
    }

    .footer-contact {
        margin: 0px;
        padding: 0px;
        display: inline;
        text-align: left;
    }

    .footer-contact-two {
        margin: 0px 0px;
        padding: 0px;
        padding-top: 5px;
        text-align: center;
    }

    /*--- news ---*/

    .bucks {
    margin-left: 0px;
    }

    .container-news h3{
        max-width: 60%;
    }

    /*--- members ---*/
    #myClubhouse {
        height:550px;
        margin:0px;
        padding: 0px;
        right:0px;
    }

    #myClubhouse h3 {
        margin-left: 5px;
    }

    #myClubhouse p {
        margin-left: 5px;
    }

    #myClubhouse .btn {
        margin-top: 10px;
        margin-left: 5px;
    }

    #myClubhouse img {
        margin-top: 70px;
        margin-left: 20px;
    }

    #new_member {
        width: 750px;
        height: 700px;
        padding: 10px 0px;
        margin-left: 10px;
        margin-top: 10px;
    }

    #new_member h3 {
        margin-top: 15px;
    }

    #new_member p {
        width: 490px;
    }

    .prices {
        margin:25px 0px;
        padding:0px;
        left: 0px;
    }

    .extras {
        margin:15px 30px;
        padding:0px;
        left: 40px;
    }

    .row {
        margin: 0px;
        padding: 0px;
    }

    #coaching h2 {
        margin-left: 25px;
    }

    .coach-summary {
    width :585x;
    margin-left: 25px;
    font-size: 20px;
    margin: 10px 2px 5px 25px;

    }

    #coaching img {
        width:95px;
        height: 95px;
        margin:20px 1px;
        padding: 0px;
    }

    .card-img-top {
    width:auto;
    height: 180px;
    } 

}


@media (max-width: 768px) {
    /*--- index, header and footer---*/
    .gxbc-logo {
        height: 40px;
        width: 40px;
        padding: 0px;
    }

    .title-header {
        font-size: 47px;
        margin: 0px 10px;
    }

    .list-inline {
        padding-left: 70px;
    }

    .carousel-item {
        height: 25rem;
        width: 100%;
    }

    .carousel-item img {
        max-width: 100%;
        max-height: 500px;
    }

    .carousel-inner {
        height: 10%;
    }

    .club-summary h2 {
        font-size: 25px;
    }

    .club-summary h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    #footer-container {
        padding: 0px;
    }

    .footer-sponsor {
        margin: 0px 7px;
        padding-left: 30px;
        width: 210px;

    }

    .footer-sponsor a {
        font-size: 15px;
    }

    .footer-sponsor img {
        height: 25px;
        width: 50px;
    }

    .footer-affiliation {
        margin: 0px 7px;
        width: 270px;
    }

    .footer-affiliation a{
        font-size: 15px;
    }

    .footer-affiliation img {
        height: 30px;
        width: 30px;
    }

    .footer-contact {
        margin: 0px;
        padding: 0px;
        display: inline;
        text-align: left;
    }

    .footer-contact-two {
        margin: 0px 5px;
        padding: 0px;
        padding-top: 5px;
        text-align: center;
    }

    /*--- news ---*/
    .bucks {
    margin-left: 0px;
    }

     .container-news h3{
        max-width: 60%;
    }

    /*--- members ---*/
    #myClubhouse h3 {
        margin: 15px 5px 30px 5px;
        padding: 0px;
    }

    #myClubhouse p {
        margin: 20px 5px 30px 5px;
        padding: 0px;
    }

    #myClubhouse .btn {
        margin: 20px 15px 20px 5px;
    }

    #myClubhouse img{
        margin: 50px 5px 10px 5px;
        padding: 0px;
    }


    #new_member {
        width: 725px;
        height: 750px;
        padding: 10px 0px;
        margin-top: 10px;
    }

    #new_member h3 {
        margin-top: 15px;
    }

    #new_member p {
        width: 460px;
    }

    .prices {
        margin:25px 0px;
        padding:0px;
        left: 0px;
    }

    .extras {
        margin:15px 30px;
        padding:0px;
        left: 40px;
    }

    .row {
        margin: 0px;
        padding: 0px;
    }

    #coaching h2 {
        margin-left: 25px;
    }

    .coach-summary {
    width :580px;
    margin-left: 25px;

    }

    #coaching img {
        width:85px;
        height: 85px;
        margin:20px 0px;
        padding: 0px;
    }
       .card-img-top {
    width:auto;
    height: 180px;
    }

    .card {
        width: 245px
    }


}


@media (max-width: 376px) {
 .gxbc-logo {
        height: 33px;
        width: 33px;
        padding: 0px;
        margin: 0px 3px;
        }

    .title-header {
        font-size: 40px;
        margin: 0px 3px;
    }

    .list-inline {
    padding-left: 25px;
}

    .carousel-item {
        height: 10rem;
        width: 100%;
    }

    .carousel-item img {
        max-width: 100%;
        max-height: 200px;
    }

    .carousel-inner {
        height: 10%;
    }

    .club-summary h2 {
        font-size: 25px;
    }

    .club-summary h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    #footer-container {
        padding: 0px;
    }

    .footer-sponsor {
        margin: 0px 40px;
        padding-left: 30px;
        width: 220px;
    }

    .footer-sponsor h4{
        text-align: center;
    }

    .footer-sponsor a {
        font-size: 15px;
    }

    .footer-sponsor img {
        height: 25px;
        width: 50px;
        margin-right: 15px;
    }

    .footer-affiliation {
        margin: 0px 20px;
        padding: 30px;
        width: 300px;
    }

    .footer-affiliation h4{
        text-align: center;
    }

    .footer-affiliation a{
        font-size: 15px;
    }

    .footer-affiliation img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    .footer-contact {
        margin: 0px 3px;
        padding: 0px;
        padding-left:30px;
        display: inline;
        text-align: center;
    }


    .footer-contact-two {
        margin: 0px 3px;
        padding: 0px;
        text-align: center;
        padding-left: 5px;
    }

    /*--- news ---*/

    .bucks {
    margin-left: 0px;
    }

    /*--- members ---*/
    #myClubhouse {
        display: block;
        text-align:left;
        height: 120px;
        width:105px;

    }
    #myClubhouse .btn {
        display: block;
        position: relative;
        width:100px;
        height: 40px;
        font-size: 16px;
        font-weight: bolder;
        margin:0px;
        padding: 0px;
        right: 1px;
    }

     #myClubhouse h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #myClubhouse p {
        margin-left: 10px;
        visibility: collapse;
        position: absolute;
    }

    #myClubhouse img{
        visibility: collapse;
    }

    #new_member {
        width: 375px;
        height: 1050px;
        padding: 0px 0px;
        margin: 10px 0px 0px 0px;
    }

    #new_member h3 {
        margin-top: 15px;
    }

    #new_member p {
        width: 325px;
    }

    .prices {
        margin:15px 0px;
        padding:0px;
        left: 0px;
         width:300px
    }

    .extras {
        margin:5px 0px 15px 0px;
        padding:0px;
        left:0px;
        float:left;
        display:block;
    }

    #new_member.row {
        margin: 0px;
        padding: 0px;
        display: block;
    }

    #coaching {
        height: 800px;
    }

    #coaching h2 {
        margin-left: 25px;
    }

    .coach-summary {
    width :275px;
    margin-left: 25px;
    margin-bottom: 10px;
    }

    #coaching img {
        width:90px;
        height: 90px;
        margin:20px 40px;
        padding: 0px;
    }

    #coaching div {
        margin: 0px;
    }

    .coach-set {
        margin: 0px;
    }

    .class-set-two {
        margin: 0px;
    }

    .text-overlay {
        position:block;
        display:left;
        margin:0px;
        padding:0px;
    }

    .coach-name {
        display:inline-block;
        right:20px;
    }

    .card {
        width:100%;
    }

       .card-img-top {
    width:auto;
    height: 180px;
    }
}